@keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes landing_title_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes landing_title_rtl {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100%;
}

// Landing
.landing {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  & > .landing_bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    animation: fade 1s forwards;
  }

  & > .landing_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    & > p {
      font-weight: normal;
      text-align: left;
      & > span {
        color: #3612da;
        font-weight: bold;
      }
    }

    & > .header {
      font-size: 20px;
      animation: landing_title_fade 1s forwards;
    }
    & > .body {
      font-size: 65px;
      animation: landing_title_rtl 1s forwards;
    }
  }
}

.performance {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-image: url("/c1_bg.png");

  & > .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;

    width: 1300px;
    height: 520px;

    & > .header {
      color: #3612da;
      font-size: 15px;
      font-weight: 600;
    }
    & > .title {
      color: #000;
      font-size: 36px;
      font-weight: 700;
    }
    & > .list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      width: 100%;
      height: 100%;

      & > .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        width: 312px;
        height: 386px;

        & > .card_image_box {
          width: 312px;
          height: 211px;
          overflow: hidden;

          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            cursor: pointer;
            transition: all 0.3s;
          }
          & > img:hover {
            transform: scale(1.1);
          }
        }

        & > .desc {
          display: flex;
          flex-direction: column;
          gap: 10px;

          width: 100%;
          height: 155px;

          p {
            color: #000;
          }
          & > .line {
            width: 312px;
            height: 1px;
            background-color: #797979;
          }
          & > .title {
            font-size: 22px;
            font-weight: bold;
          }
          & > .subtitle {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            width: 100%;

            & > .left {
              width: 80px;
            }
            & > .right {
              width: 227px;
              color: #6b6b6b;
            }
          }
        }
      }
    }
  }
}

.business {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  & > .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height: 800px;

    & > .header {
      color: #3612da;
      font-size: 15px;
      font-weight: 600;
    }
    & > .title {
      color: #000;
      font-size: 36px;
      font-weight: 700;
    }
    & > .business_box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      width: 100%;
      height: 100%;

      overflow: hidden;

      & > div > .card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 500px;
        height: 350px;

        cursor: pointer;

        & > .bg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transition: all 0.5s;

          z-index: -1;

          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          & > img:hover {
            transform: scale(1.1);
          }
        }

        & > .col {
          display: flex;
          flex-direction: column;
          padding: 30px;

          width: 100%;
          height: 100%;

          & > p {
            color: #fff;
          }

          & > .title {
            font-size: 28px;
          }

          & > .hide {
            opacity: 0;
            transition: all 0.5s;

            & > .line {
              margin-top: 30px;
              width: 100%;
              height: 1px;
              background-color: #ffffff;
            }
            & > .desc {
              font-size: 15px;
              text-align: justify;
              margin-top: 30px;
              width: 350px;
            }
          }
        }
      }
    }
  }

  & > .black_box {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;

    width: 100vw;
    height: 300px;
    background-color: #000000;
  }
}
